node_modules
.env
*.env
.eslintcache
dist
.dist
dist/
root.ca.txt
root.pem.txt
root.key.txt
junit.xml

node_modules
*.env
.env*
*.local

#logs
*.log

#Build
.tsbuildinfo


.npm
.eslintcache
.stylelintcache
.cache
.cache/
.pnp.*